@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/brands.min.css";
@import "/node_modules/@fortawesome/fontawesome-free/css/solid.min.css";

.pagination li {
    cursor: pointer;
}

.navbar-brand span {
    color: #242424;
}

body {
    font-size: 1rem;
    font-family: 'Trebuchet MS', Verdana, Arial;
    overflow: auto;
}

.app-loading {

    background-color: var(--bs-success);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-loading::before {
    content: '';
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border: .25em solid white;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.loading>* {
    display: none;
}

.loading::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: .25em solid var(--bs-success);
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
}

.pointer:hover {
    cursor: pointer;
}

.pre-line {
    white-space: pre-line;
}

.max-h-500 {
    max-height: 500px;
}